.imageupload{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color: white;
    border-bottom: 1px; 
}

.imageupload__progress{
    width: 100%;
}

.input__caption{
    border: none;
    padding: 10px;
    outline-width: 0;
}